<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Songs Homepage - Welcome to My Music Store</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to My Music Store</h1>
</header>
<main>

    <!-- Display radio buttons for each song,
            the value should be the trackId
            and the displayed text should be Title: <songTitle>, Genre:<genre>, Release Year: <releaseYear> -->
    <h2>Choose a song:</h2>
    <form th:method="POST" th:action="@{/artist}">
        <div th:each=" s : ${songs}">
            <input type="radio" name="trackId" th:value="${s.getTrackId()}">
            <label>
                <span class="label"><b>Title : </b></span><th:block th:text="${s.getTitle()}"></th:block>
                <span class="label"><b>Genre : </b></span><th:block th:text="${s.getGenre()}" ></th:block>
                <span class="label"><b>Release Year: </b></span><th:block th:text="${s.getReleaseYear()}"></th:block>
            </label>
        </div>
        <input type='submit' value='Submit'>
    </form>

</main>
</body>
</html>